@font-face {
  font-family: Roboto;
   src: url("/assets/fonts/Roboto-Regular.ttf");
 }

* {
  box-sizing: border-box;
 }

 html {
  scroll-behavior: smooth; 
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}

.content {
  margin: 0;
}


.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__link, .footer__link,
.footer__icon {
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.section {
  padding: 40px 30px;
  border-bottom: 1px solid #000;
}

.section-profile {
  display: flex;
  justify-content: center;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}

.section-big-title {
  font-size: 50px;
  margin: auto 50px;
}


.section-img {
  width: 250px;
  height: 320px;
  margin: 0 50px;
  border-radius: 30px;
}

.section-item {
  position: relative;
  padding-left: 30px;
  list-style-type: none;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid #829985;
  border-radius: 50%;
}

.footer {
  display: flex;
  padding: 40px 30px;
  margin: 0 auto;
}

.footer__block {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
}

.nav__link:hover,
.footer__link:hover,
.footer__icon:hover {
  cursor: pointer;
  color: #5d7260;
  text-decoration: underline;
}

.footer__icon {
  width: 80px;
  height: 30px;
  background-image: url("./assets/img/rs_school_js.svg");
  background-repeat: no-repeat;
  padding: 0;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding: 0;
}

.footer__link {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer__link:last-child {
  justify-content: flex-end;
  margin-right: 30px;
}

.footer__year {
  margin-left: 30px;
}

.section-link {
  text-decoration: none;
  cursor: pointer;
  color: #5d7260;
}